<h2>Calculadora de Resistencias</h2>

<div style="display:flex; gap:20px; margin-bottom:10px;">

  <table>
    <tr><th colspan="2">Banda 1</th></tr>
    <tr *ngFor="let color of bandas">
      <td>
        <input type="radio" name="b1" 
        [value]="color" [(ngModel)]="banda1"
        >
      </td>
      <td [ngStyle]="estilo(color)">{{op.getValor(color)}}</td>
    </tr>
  </table>

  <table>
    <tr><th colspan="2">Banda 2</th></tr>
    <tr *ngFor="let color of bandas">
      <td>
        <input type="radio" name="b2" 
        [value]="color" [(ngModel)]="banda2">
      </td>
      <td [ngStyle]="estilo(color)">{{op.getValor(color)}}</td>
    </tr>
  </table>

  <table>
    <tr><th colspan="2">Banda 3</th></tr>
    <tr *ngFor="let color of bandas">
      <td>
        <input type="radio" name="b3" 
        [value]="color" [(ngModel)]="banda3"
        >
      </td>
      <td [ngStyle]="estilo(color)">x{{op.getMultiplicador(color)}}</td>
    </tr>
  </table>
</div>

<div style="margin-bottom:10px;">
  <table>
    <tr><th colspan="2">Tolerancia</th></tr>
    <tr *ngFor="let color of tolerancias">
      <td>
        <input type="radio" name="tol"
        [value]="color" [(ngModel)]="tolerancia"
        >
      </td>
      <td [ngStyle]="estilo(color)">±{{op.getTolerancia(color) * 100}}%</td>
    </tr>
  </table>
</div>

<button (click)="calcular()">Calcular</button>

<div *ngIf="resultado" style="margin-top:10px;">
  <table style="table-layout: fixed; width: 60%; text-align: center;">
    <tr>
      <th>Banda 1</th>
      <th>Banda 2</th>
      <th>Banda 3</th>
      <th>Tolerancia</th>
      <th>Valor</th>
      <th>Valor Máx</th>
      <th>Valor Mín</th>
    </tr>
    <tr>
      <td [ngStyle]="estilo(resultado.banda1)">{{resultado.banda1}}</td>
      <td [ngStyle]="estilo(resultado.banda2)">{{resultado.banda2}}</td>
      <td [ngStyle]="estilo(resultado.banda3)">{{resultado.banda3}}</td>
      <td [ngStyle]="estilo(resultado.tolerancia)">{{resultado.tolerancia}}</td>
      <td>{{resultado.valorBase}}</td>
      <td>{{resultado.valorMax}}</td>
      <td>{{resultado.valorMin}}</td>
    </tr>
  </table>
</div>